body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 49, 49);
}

#root {
    width: 70%;
    margin: 0 auto;
}

.header {
    background-color: rgb(233, 137, 126);
    padding: 8px;
    margin-bottom: 15px;
    height: 170px;
}

h1 {
    padding-top: 25px;
    text-align: center;
    color: white;
}

/* .singleUser {
    background-color: ghostwhite;
    border: 2px solid rgb(228, 227, 227);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    margin: 10px;
} */

.footer {
    background-color: rgb(233, 137, 126);
    text-align: center;
    padding: 8px;
    margin-top: 15px;
}

.listAvatar {
    width: 10%;
    margin: 0 auto;
    border-radius: 50%;
    float: left;
    padding: 10px 20px 10px 10px;
}

.listItem {
    border: solid rgb(199, 189, 189);
    border-width: 1px;
    height: 150px;
}

.gridCards {
    display: flex;
    flex-direction: row;
}

.red {
    background-color: #ffebee;
}

.gridItem {
    margin-bottom: 25px;
}

.card-title {
    color: white;
    position: absolute;
    bottom: 150px;
    left: 16px;
}

.fullName {
    margin-top: 15px;
}