body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 49, 49);
}

.header {
    background-color: rgb(233, 137, 126);
    padding: 8px;
}

#root {
    width: 70%;
    margin: 0 auto;
}

.singleUser {
    background-color: ghostwhite;
    border: 2px solid rgb(228, 227, 227);
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-left: 20px;
    margin: 10px;
    /* display: inline-block;
    width: 30%; */
}

h1 {
    text-align: center;
}

.footer {
    background-color: rgb(233, 137, 126);
    text-align: center;
    padding: 8px;
}

.userAvatar {
    width: 10%;
    margin: 0 auto;
    border-radius: 50%;
    float: left;
    padding: 10px 20px 10px 10px;
}

.gridCards {
    display: flex;
    flex-direction: row;
}